<div class="heading">
    
    <h1>pixR</h1>
    <h2>beautiful, custom pixel art at your fingertips</h2>

    <div class="side_buttons">
        <div class="single_button">
            <button mat-raised-button color="primary" (click)="onClickNavigateFindArtist()">Sell My Art</button>
        </div>
        <div class="single_button">
            <button mat-raised-button color="accent" (click)="onClickNavigateArtist()">Find An Artist</button>
        </div>
    </div>

</div>

<div class="about_section">

    <h1>About Us</h1>

</div>

<div class="featured_section">

    <h1>Featured Art</h1>

</div>

<div class="reviews_section">

    <h1>Art Reviews</h1>

</div>

<div class="footer_section">

    <h1>Footer Section</h1>

</div>