.heading {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 100%;
    height: 100vh; /* if you don't want it to take up the full screen, reduce this number */
    overflow: auto;
    background-size: cover;
    background-image: url(../../../assets/landing_page.jfif);
    background-color: whitesmoke;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    margin-bottom: -2rem;
  }

  .heading h1 {
    font-style: normal;
    font-weight: bold;
    color: #eee;
    font-size: 8vmin;
    letter-spacing: 0.03em;
    line-height: 1;
    text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.8);
    margin-top: -20rem;
  }

  .heading h2 {
    font-style: normal;
    font-weight: bold;
    color: #eee;
    letter-spacing: 0.03em;
    line-height: 1;
    text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.8);
    padding-bottom: 5rem;
  }

  .button {
    display: inline-flex;
    height: 40px;
    width: 150px;
    border: 2px solid #BFC0C0;
    margin: 20px 20px 20px 20px;
    color: #BFC0C0;
    text-transform: uppercase;
    text-decoration: none;
    font-size: .8em;
    letter-spacing: 1.5px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }

  a {
    color: #BFC0C0;
    text-decoration: none;
    letter-spacing: 1px;
  }

  /* Fifth Button */

  #button-5 {
    position: relative;
    overflow: hidden;
    cursor: pointer;
  }

  #button-5 a {
    position: relative;
    transition: all .45s ease-Out;
  }

  #translate {
    transform: rotate(50deg);
    width: 100%;
    height: 250%;
    left: -200px;
    top: -30px;
    background: #BFC0C0;
    position: absolute;
    transition: all .3s ease-Out;
  }

  #button-5:hover #translate {
    left: 0;
  }

  #button-5:hover a {
    color: #2D3142;
  }

.side_buttons {
  display: inline-block;
  margin-top: -2rem;
}

.single_button {
  display: inline-block;
  margin: 0.5rem;

  button {
    height: 46px;
    width: 140px;
    opacity: 0.9;
  }
}

.about_section {
  height: 100vh;
  width: 100vw;
  margin-top: 2rem;
  background-color: lightgray;
}

.featured_section {
  height: 100vh;
  width: 100vw;
  background-color: white;
}

.reviews_section {
  height: 100vh;
  width: 100vw;
  background-color: lightgray;
}

.footer_section {
  height: 50vh;
  width: 100vw;
  background-color: white;
}


