.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.login_box {
  width: 600px;
  margin-top: 8rem;
  background-color: whitesmoke;
  box-shadow: 5px 5px lightgray;
  border-radius: 15px;
  padding-bottom: 2rem;
}

.signup_box {
  width: 600px;
  margin-top: 5rem;
  background-color: whitesmoke;
  box-shadow: 5px 5px lightgray;
  border-radius: 15px;
  padding-bottom: 2rem;
}

.heading h1 {
  text-align: center;
  padding-top: 2rem;
  font-size: 46px;
  font-weight: 500;
}
.heading p {
  text-align: center;
  opacity: 0.6;
}

.login_form mat-form-field {
  width: 70%;
  margin-right: 15%;
  margin-left: 15%;
}

.login_form mat-checkbox {
  margin-left: 15%;
  width: 100%;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 80%;
  margin-left: 10%;
}

.details_fields mat-form-field {
  width: 75%;
  margin-right: 12.5%;
  margin-left: 12.5%;
}

.col {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.login_button {
  width: 70%;
  margin-left: 15%;
}

.login_button p {
  text-align: center;
}

.login_button button {
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  height: 46px;
}

.text_button {
  width: 70%;
  margin-left: 15%;
}

.text_button button {
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  height: 46px;
}

.space {
  height: 150px;
}

.signup_box .space {
  height: 100px;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 750px) {
  .login_box {
    width: 400px;
  }

  .signup_box {
    width: 400px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 600px) {
  .login_box {
    width: 300px;
    margin-left: -20px;
    margin-top: 2rem;
  }
  .signup_box {
    width: 300px;
    margin-left: -0px;
  }
  .heading p {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
