<div class="content">
  <div class="container">

    <div *ngIf="isLoading">
      <mat-spinner></mat-spinner>
    </div>

    <div *ngIf="!isLoading">

      <!--LOGIN SECTION-->
      <div *ngIf="showLogin">
        <div class="login_box">
          <div class="heading">
            <h1>pixR</h1>
            <p>Welcome back! Please login to your account.</p>
          </div>

          <div class="login_form">
            <form [formGroup]="loginForm">
              <mat-form-field>
                <input matInput placeholder="Email" formControlName="email" type="email">
              </mat-form-field>
              <mat-form-field>
                <input matInput placeholder="Password" formControlName="password" [type]="hide ? 'password' : 'text'">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                  <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
              </mat-form-field>
              <mat-checkbox (click)="changeCheckedValue(rememberMe)" color="primary">Remember Me</mat-checkbox>
              <div class="login_button">
                <button mat-raised-button color="primary" [disabled]="loginForm.invalid" (click)="onClickLogin()">Login</button>
              </div>
              <div class="text_button">
                <button mat-button>Forgot Password</button>
              </div>
              <div class="space"></div>
              <div class="login_button">
                <p>Don't have an account?</p>
                <button mat-stroked-button (click)="onClickShowSignup()">Sign Up</button>
              </div>
            </form>
          </div>
        </div>
      </div>

      <!--SIGN UP SECTION-->
      <div *ngIf="showSignup">
        <div class="signup_box">
          <div class="heading">
            <h1>pixR</h1>
            <p>Please complete to create your account</p>
          </div>

          <div class="signup_form">
            <form [formGroup]="signupForm">
              <div class="row">
                <div class="col">
                  <mat-form-field>
                    <input matInput placeholder="First Name" formControlName="email" type="email">
                  </mat-form-field>
                </div>
                <div class="col">
                  <mat-form-field>
                    <input matInput placeholder="Last Name" formControlName="email" type="email">
                  </mat-form-field>
                </div>
              </div>
              <div class="details_fields">
                <mat-form-field>
                  <input matInput placeholder="Email" formControlName="email" type="email">
                </mat-form-field>
                <mat-form-field>
                  <input matInput placeholder="Username" formControlName="password" type="userName">
                </mat-form-field>
                <mat-form-field>
                  <input matInput placeholder="Password" formControlName="pass1" [type]="hide ? 'password' : 'text'">
                  <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                  </button>
                </mat-form-field>
                <mat-form-field>
                  <input matInput placeholder="Confirm Password" formControlName="pass2" [type]="hide ? 'password' : 'text'">
                  <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                  </button>
                </mat-form-field>
                <mat-checkbox><a>I agree with terms and conditions</a></mat-checkbox>
              </div>
              <div class="login_button">
                <button mat-raised-button color="primary" [disabled]="loginForm.invalid">Create Your Profile</button>
              </div>
              <div class="space"></div>
              <div class="login_button">
                <p>Already have an account?</p>
                <button mat-stroked-button (click)="onClickShowLogin()">Login</button>
              </div>
            </form>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>
